.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.register-form {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.register-form input {
  padding: 10px;
}

.register-form button {
  padding: 10px;
  background: #222;
  color: white;
  border: none;
  cursor: pointer;
}